* {
	font-family: 'Kavivanar', cursive;
	color: red;
	background-color: black;
}

.header {
	text-align: center;
}

.linkbar {
	text-align: center;
	padding: 20px;
}

.linkbar a {
	margin: 0 20px;
	border: 2px solid gray;
	padding: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}